<% if (user) { %>
  <h2 class="page-header"><%= user.name %></h2>
  <div class="book-details">
  <div class="user-details">

    <div class="book-details-grid">
      <div class="user-details-label">Username:</div>
      <div><%= user.username %></div>
      <div class="user-details-label">Email:</div>
      <div><%= user.email %></div>
      <div class="user-details-label">Full Name:</div>
      <div><%= user.name %></div>
      <div class="user-details-label">Contact #:</div>
      <div><%= user.contact %></div>
      <div class="user-details-label">Address:</div>
      <div><%= user.address %></div>
    </div>
  </div>
</div>
<% } else { %>
  <p>User not found</p>
<% } %>
<div class="form-row form-row-end btn-row">
<div class="btn-row">
    <a class="btn btn-primary" href="/users/<%= user.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/users/${user.id}` }) %>
</div>
<form action="/logout?_method=DELETE" method="POST">
  <button class="btn btn-danger" type="submit">Log Out</button>
</form>
</div>